body {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    font-size: 18px;
}

p {
    padding: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: auto;
}

.result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: whitesmoke;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-weight: 600;
    text-align: center;
    padding: 30px;
}

.result-circle {
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result-value {
    font-weight: 800;
    font-size: 4rem;
}

.lavender {
    color: hsl(241, 100%, 89%)
}

.summary {
    padding: 10px 30px;
}

h1 {
    font-size: 1.1rem;
}

.box {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    font-weight: 600;
    align-items: center;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.082);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.13);
}

.verbal {
 background-color: hsla(166, 100%, 37%, 0.09);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.084);
}

.light-color {
    color: rgba(114, 114, 114, 0.521);
}

img {
    margin: 0 15px 0 0;
}

button {
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    padding: 17px;
    margin: 10px 30px;
    border-radius: 30px;
    width:85%;
    font-size: 18px;
    font-weight: 600;
}

.attribution a {
    color: hsla(256, 72%, 46%, 1);
    text-decoration: none;
}

.attribution a:hover a:active {
    color: hsla(256, 72%, 46%, 1);
}

@media (min-width: 992px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10% auto 5px;
        box-shadow: 9px 10px 50px -1px hsl(221, 100%, 96%);
        border-radius: 30px;
        width: 40%;
    }

    .result {
        border-radius: 30px;
    }

    .result-circle {
        width: 200px;
        height: 200px;
    }

    button {
        width:100%;
        margin: 10px 0;
        padding: 12px;
    }

    h2 {
        font-size: 21px;
    }



}